{% extends 'common.twig' %}

{% set title = {'title': "About"|trans} %}

{% block content %}


<div class="container">
    <div class="row-fluid">
    <p>
        {% trans %}iGestis is a free ERP software for small companies. It's licenced under GPL v3.{% endtrans %}
    </p>
    <p>
        <ul>
            <li><a href="http://www.gnu.org/licenses/gpl.html">{% trans %}GPL V3 Licence page{% endtrans %}</a></li>
            <li><a href="http://www.igestis.org">{% trans %}iGestis home page{% endtrans %}</a></li>
        </ul>
    </p>
        
        <p>{% trans %}iGestis works with the following librairies.{% endtrans %}</p>
        <p>
            <ul>
                <li><a href="http://php.net/">PHP</a></li>
                <li><a href="http://www.mysql.com/">Mysql</a></li>
                <li><a href="http://www.tcpdf.org/">Tcpdf</a></li>
                
                <li><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a></li>
                <li><a href="http://datatables.net/">Datatables</a></li>
                <li><a href="http://www.doctrine-project.org/">Doctrine</a></li>
                <li><a href="http://ivaynberg.github.com/select2/">Select 2</a></li>
                <li><a href="http://twig.sensiolabs.org/">Twig</a></li>
                <li><a href="http://wiki.openihs.org/OLDAPHP">Oldaphp</a></li>
                <li><a href="http://jquery.com/">Jquery</a></li>
                
                <li><a href="http://bassistance.de/jquery-plugins/jquery-plugin-validation/">Jquery validate</a></li>
                <li><a href="https://github.com/carhartl/jquery-cookie">Jquery cookies</a></li>
                <li><a href="http://ace.ajax.org/">Ace</a></li>
                
                <li><a href="http://www.gnu.org/software/gettext/gettext.html">Gettext</a></li>
                <li><a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a></li>
            </ul>
        </p>
        <input class="btn btn-info" type="button" value="{% trans %}Back{% endtrans %}" onclick="javascript:history.go(-1);return true;">
    </div>
</div>



{% endblock %}