{% extends 'common.twig' %}

{% set title = {'title': "Error"|trans} %}

{% block content %}
<div class="alert alert-block alert-error fade in">
<h4 class="alert-heading">{% trans %}Authorization error{% endtrans %}</h4>
<p>{% trans %}You don't have autorisation to access to this page.{% endtrans %}</p>

</div>




{% endblock %}