{% extends "common.twig" %}

{% set title = {'title': "Login page"|trans} %}

{% block content %}
<div class="container">

        <div class="span6 offset3">
            <form class="well allow-to-quit" action="" method="post">

           
                    <div class="row-fluid">
                        <div class="span4">
                            <img class="hidden-phone" src="{{ TEMPLATE_URL }}/images/emblem-personal.png" width="100%" >
                        </div>
                        <div class="span8">

                            <h3>{% trans %}Authentication{% endtrans %}</h3>
                            <input id="id-login" type="text" class="input-small" placeholder="{% trans %}Login{% endtrans %}" name="sess_login">
                            <input type="password" class="input-small" placeholder="{% trans %}Password{% endtrans %}" name="sess_password">
                            <label class="checkbox">
                                <input type="checkbox" name="use_cookie"> {% trans %}Remember me{% endtrans %}
                            </label>
                            <button type="submit" class="btn btn-info">{% trans %}Sign in{% endtrans %}</button>
                            <a href="{{ url("reset_password") }}">{% trans %} Lost password{% endtrans %}</a>
                        </div>
           

                </div>
            </form>
        </div>



<script>
    document.getElementById('id-login').focus();
</script>
</div>
{% endblock %}