{% extends 'common.twig' %}

{% set title = {'title': "Error on form submit"|trans} %}

{% block content %}

          <div class="row-fluid">
            <div class="span12">
              <h2>{% trans %}Invalid form{% endtrans %}</h2>
              <p>{% trans %}The datas that you have just sent are invalid. Please go back to the form and fix the invalid datas (Check if javascript is activated to let you see the form errors).{% endtrans %}</p>
              <p>{% trans %}Invoked reason{% endtrans %} : {{ reason }}</p>
              <p><a class="btn btn-danger" href="javascript:window.history.go(-1)">{% trans %}Back{% endtrans %}</a></p>
            </div><!--/span-->
          </div><!--/row-->

{% endblock %}