{% extends "common.twig" %}

{% set title = {'title': "Error message"|trans} %}

{% block content %}

<div class="alert alert-block alert-error fade in">
    <h4 class="alert-heading">{{ "Iabsis encoutered an error!"|trans }}</h4>
    <p>{{ errorMessage }}</p>
</div>

{% endblock %}