{% extends "common.twig" %}

{% set title = {'logo': "emblem-personal",
                'title': "Reset my password"|trans,
                'help': "Fill this form to reset your password"|trans} %}

{% import "form.twig" as forms %}

{% block content %}


<div class="well">
    <form class="form-horizontal allow-to-quit" id="form_data" method='post' action=''>
        <fieldset>
            <legend>{% trans %}Login or Email{% endtrans %}</legend>
            {{ forms.input('login', 'Username'|trans, form_data.contacts.first.login) }}
            <div class="form-actions">
                    <button type="submit" class="btn btn-primary">{% trans %}Request a new password{% endtrans %}</button>
                    <a href="{{ url('home_page') }}" class="btn">{% trans %}Back to home page{% endtrans %}</a>
            </div>
        </fieldset>
    </form>
</div>

<script>
$(document).ready(function(){
        $("#form_data").validate({
                rules:{
                        login:{
                                regex: /^(([\w.-]+@[\w.-]+\.[a-zA-Z]{2,5})|([a-z][-a-z0-9]*))$/,
                                required:true
                        }
                },
                errorClass: "help-inline",
                errorElement: "span",
                errorPlacement: function(error, element) {
                        element.parent().after(error);
                },
                highlight:function(element, errorClass, validClass) {
                        $(element).parents('.control-group').removeClass('success');
                        $(element).parents('.control-group').addClass('error');
                },
                unhighlight: function(element, errorClass, validClass) {
                        $(element).parents('.control-group').removeClass('error');
                        $(element).parents('.control-group').addClass('success');
                }
        });
});
    </script>

{% endblock %}

