Package: igestis
Version: 3.0.0
Architecture: all
Maintainer: Olivier Bitsch <olivier.b@iabsis.com>
Installed-Size: 11626
Depends: libapache2-mod-php5 (>= 5.3) | libapache-mod-php5, mysql-server, php5-mysql, php5-mcrypt, dbconfig-common, php5-ldap, ldap-utils
Suggests: igestis-samba, igestis-roundcube, igestis-ishare
Conflicts: igestis-ldap
Replaces: igestis-ldap
Section: web
Priority: extra
Description: Manage easily your small compagny.
 Igestis goal is to provide an easy way to manage your
 small business. It's working with many modules you can
 install to add only the features you need.
