{% extends "mail.twig" %}

{% set title = {'title': "Password reset"} %}

{% block content %}

<h2>{% trans %}Thank you for using iGestis{% endtrans %}</h2>

<p>{% trans %}You received this mail because you or somebody asked to reset your password. If you think this is an error, you can just delete this mail.{% endtrans %}</p>
<p>{% trans %}Follow the link under the login concerned, you may have several link in case of your mail is registered with multiple iGestis account.{% endtrans %}</p>

{% for contact in contacts_list %}
<p>
    {% set userType = contact.User.userType %}
    <b>{% trans %}For the login{% endtrans %} : {{ contact.login }}</b> ({% trans %}Account type is{% endtrans %} : {% trans userType %})<br />
    <a href="{{ url('reset_password_confirm', {"Key":contact.changePasswordRequestId}) }}">{{ url('reset_password_confirm', {"Key":contact.changePasswordRequestId}) }}</a>
</p>
{% endfor %}

{% endblock %}