<ul class="breadcrumb">
    <li>
        <a href="{{ SERVER_ADDRESS }}">{% trans from "Module:core" %}Home{% endtrans %}</a> <span class="divider">/</span>
    </li>
  {% for item in breadcrumb %}
    <li {% if loop.last == true %}class="active"{% endif %}>

              {% set name = item.name %}
              {% if loop.last == false %}<a href="#">{% endif %}{% trans from "Module:core" name %}{% if loop.last == false %}</a>{% endif %}
        
   {% if loop.last == false %}<span class="divider">/</span>{% endif %}
    </li>
{% endfor %}
</ul>