<script>
// Initialise scanner list
$(function() { 
    $.ajax({
        dataType: "json",
        url: '{{ url('get_scanners_list')|e('js') }}',
        getListTimeout: null,
        beforeSend: function() {
            this.getListTimeout = setTimeout(function() {$("#scanner-group").slideDown();}, 750);
        },
        success: function(jsonData, textStatus, jqXHR) {
            if(jsonData.successful) {
                var $select = $('<select name="selectedScanner" id="id-selectedScanner">');
                for(i = 0; i < jsonData.successful.length; i++) {
                    $select.append($('<option value="' + jsonData.successful[i].fullName + '">' + jsonData.successful[i].displayName + '</option>'));
                }
                $select.bind("change click", function() {
                    $("#get-file-by-scanner").attr("checked", true);
                });
                $("#wait-scanner-list").html($select);
                $("#scanner-group").slideDown();
            }
            else {
                $("#wait-scanner-list").html("No scanner found");
                $("#scanner-group").fadeOut();
            }
        },
        error: function(jqXHR, textStatus, errorThrown) {
            $("#scanner-group").fadeOut();
        },
        complete: function () {
            clearTimeout(this.getListTimeout);
            this.getListTimeout = null;
        }
    });
    
    $("#file-assoc-id-file").bind("click", function() { 
        $("#get-file-by-input-file").attr("checked", true);
    });
});

</script>

<fieldset>
    <legend>{% trans %}Attached data file{% endtrans %}</legend>
    <div class="row-fluid">

        <div class="span6">  
            <div class="control-group" id="scanner-group" style="display: none;">
                <label class="control-label" for="title">Scanner</label>
                <div class="controls">
                    <input type="radio" name="getFile" id="get-file-by-scanner" value="scanner" style="float: left;">
                    <div id="wait-scanner-list"><img src="{{ TEMPLATE_URL }}/images/loading.gif">{% trans %}Loading list of scanners ...{% endtrans%}</div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">{% trans %}File{% endtrans%}</label>
                <div class="controls">
                    <input type="radio" name="getFile" id="get-file-by-input-file" value="file">
                    <input class="span9" type="file" name="file" id="file-assoc-id-file">
                </div>
            </div>
            
            {% if form_data.filename %}
            <div class="control-group">
                <label class="control-label">{% trans %}Keep the current file{% endtrans%}</label>
                <div class="controls">
                    <input type="radio" checked="checked" name="getFile" value="none">
                </div>
            </div>
            
            <div class="control-group">
                <label class="control-label">{% trans %}Delete file{% endtrans%}</label>
                <div class="controls">
                    <input type="radio" name="getFile" id="get_file4" value="delete">
                </div>
            </div>
            {% else %}
            <div class="control-group">
                <label class="control-label">{% trans %}Don't attach file{% endtrans%}</label>
                <div class="controls">
                    <input type="radio" checked="checked" name="getFile" value="none">
                </div>
            </div>
            {% endif %}
        </div>
            
        {% block filename %}{% endblock filename %}

    </div>
</fieldset>