/* Page structure */

ul, li { 
    list-style:none; 
}

li.title {
    display: none;
}


body.popup {
    background-color: #FFFFFF;
    /*background-color:#F1F1F1;*/
    padding-left: 20px;
    padding-right: 20px;
}

fieldset {
    border:none;
}

div.well h5 {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    border: 0;
    border-bottom: 1px solid #E5E5E5;
    text-align: left;
}

img {
    border:0;
}

div.general_header {
    display: none;
}

div#popup-header {
    display:none;/*
        height:100px;
        background-image:url("images/header_illustration.jpg");
        background-repeat:no-repeat;
        background-color:#072C3E;
        background-position:-150px bottom;
        margin-bottom:10px;
        padding-left:170px;
        padding-right:10px;*/
}

img.close_header_img {
    float:right;
    padding-right:5px;
    padding-top:5px;
    position:relative;
}

div.push {
    height:25px;
}

div#popup-footer {
    display:none;
    /*
        width:99%;
        height:25px;
        bottom:0px;
        margin:auto;
        position:relative;
        background-color:#F1F1F1;
    */

}

hr {
    clear:both;
}



fieldset.left {
    float:left;
    width:48%;
}
fieldset.right {
    float:right;
    width:48%;
}

/* Balises */
label
{
    display:block;
    float: left;
    width: 140px;
    padding:0 0 0 5px;;
    font-size:12px;
    color:#555555;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
}

 table input,  table select
{
    width: auto;
    
}





hr {
    clear:both;
    width:1px;
    height:1px;
    background-color:#003366;
    border:0 solid #003366;
}

.p_focused label
{
    color:#0099CC;
    font-weight:bold;
}

span.error_message
{
    color:#993333;
    font-weight:bold;
    font-size:10px;
}


/* Help panel */
div.help_panel {
    width:454px;
    height:122px;
    float:right;
    padding:15px;
    color:#95DBEC;
    position:relative;
    right:20px;
    top:30px;
    display:none;
}

div.help_panel h1 {
    font-size:16px;
    display:block;
    width:100%;
    border-bottom:2px solid #95DBEC;
    color:#95DBEC;	
    padding-bottom:5px;
    text-transform:uppercase;
    font-weight:normal;
    display:none;
}

div.help_panel_mini h1 {
    color:#95DBEC;
    font-size:16px;
    padding:5px 0px 0px 10px;
    text-transform:uppercase;
    font-weight:normal;
}

div.help_panel h2 {
    font-size:12px;
    font-weight:normal;
    text-align:justify;
    padding-top:6px;	
    color:#95DBEC;
    display:none;
}

div.help_panel_mini h2 {
    display: none;
}

div#popup-header h3 {
    font-size:16px;
    display:block;
    width:100%;
    border-bottom:2px solid #95DBEC;
    color:#95DBEC;	
    padding-bottom:5px;
    text-transform:uppercase;
    font-weight:normal;
}

div#popup-header h4 {
    font-size:12px;
    font-weight:normal;
    text-align:justify;
    padding-top:6px;	
    color:#95DBEC;
}

.main-content-top-actions {
    margin-bottom : 20px;
}

a.red-link {
    color:#ae2c2c;
}

h2 a {
    font-size:12px;
    font-weight:normal;
    text-align:justify;
    padding-top:6px;	
    color:#95DBEC;	
    text-decoration:underline;
}

.no-border, .img {
    border:0;
}


.search-form {
    float:right;
}

#pagination-old-modules {
    display: none;
}
/* Others forms */
form.popup_form .img {
    margin-left:10px; 
}


/* Tables styles */

td.amounts, table.normal_table tr td.amounts {
    text-align: right;
}


/* Popup forms */
body.popup fieldset
{
    border:none;
    text-align:center;
    margin:10px 10px 20px 10px;
}

body.popup fieldset.view p
{
    padding:0px;
    margin:0px;
}

body.popup fieldset.view label
{
    display:block;
    float: left;
    width: 200px;
    padding:0 0 0 5px;;
    font-size:10px;
    color:#555555;
    font-family:Verdana, Arial, Helvetica, sans-serif;
}


/**
 * Thats the basic css needed for the upload bars
*/
#demo-status .progress
{
    background:				white url(images/assets/progress-bar/progress.gif) no-repeat;
    background-position:	+50% 0;
    margin-right:			0.5em;
}

#demo-status .progress-text
{
    font-size:				0.9em;
    font-weight:			bold;
}

#demo-list
{
    list-style:				none;
    width:					450px;
    margin:					20px auto 10px auto;
    padding:0;
    border-top:1px solid black;
}

#demo-list li.file
{
    border-bottom:			1px solid #eee;
    background:				url(images/assets/file.png) no-repeat 4px 4px;
}
#demo-list li.file.file-uploading
{
    background-image:		url(images/assets/uploading.png);
    background-color:		#D9DDE9;
}
#demo-list li.file.file-success
{
    background-image:		url(images/assets/success.png);
}
#demo-list li.file.file-failed
{
    background-image:		url(images/assets/failed.png);
}

#demo-list li.file .file-name
{
    font-size:				1.2em;
    margin-left:			44px;
    display:				block;
    clear:					left;
    line-height:			40px;
    height:					40px;
    font-weight:			bold;
}
#demo-list li.file .file-size
{
    font-size:				0.9em;
    line-height:			18px;
    float:					right;
    margin-top:				2px;
    margin-right:			6px;
}
#demo-list li.file .file-info
{
    display:				block;
    margin-left:			44px;
    font-size:				0.9em;
    line-height:			20px;
}
#demo-list li.file .file-remove
{
    clear:					right;
    float:					right;
    line-height:			18px;
    margin-right:			6px;
}



input.autocompleter-loading, input.loading
{
    background-image:		url(images/spinner_wait.gif);
    background-repeat:		no-repeat;
    background-position:	right 50%;
}

#scanner {
    visibility:hidden;
    position: absolute;
}

div.scanning {
    text-align:center;
}



#wainting_please {
    display:none;
}


div#warning_message {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #ffffe0;
    font-weight: bold;
    text-align: center;
    padding : 5px;

}

div#warning_message a, div#warning_message a:hover, div#warning_message a:visited, div#warning_message a:link, div#warning_message a:active {
    color:blue;
    text-decoration: underline;

}

span.module_help_message {
    display:none;
    position:absolute;
    border:1px solid black;
    background-color: teal;
    color: white;
    width:200px;
}

span.module_right_block {
    display: block;
    padding-bottom: 5px;
}

span.module_right_name {
    font-weight: bold;
    color: white;
}

span.module_right_description {
    color: white;
}

span.negative_amount {
    color: red;
}

span.positive_amount {
    color: green;
}

span.null_amount {
    color: blue;
}

#dhtmlgoodies_tooltip{
    background-color:#EEE;
    border:1px solid #000;
    position:absolute;
    display:none;
    z-index:20000;
    padding:2px;
    font-size:0.9em;
    -moz-border-radius:6px;	/* Rounded edges in Firefox */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;

}
#dhtmlgoodies_tooltipShadow{
    position:absolute;
    background-color:#555;
    display:none;
    z-index:10000;
    opacity:0.7;
    filter:alpha(opacity=70);
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    -moz-border-radius:6px;	/* Rounded edges in Firefox */
}

span.p_content {
    display:block;
    padding-left: 145px;
}


/*** Gestion des wizz ***/
div#wizz_content {
    display: none;
    position:fixed;
    top:0px;
    left:80px;
    width:370px;
    padding:10px;
}

.wizz_error {
    display:block;

    vertical-align: middle;
    display: inline-block;
    background-image: url("images/wizz_error.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.wizz_error img, .wizz_success img {
    vertical-align: middle;
    display: inline-block;
}

.wizz_error span, .wizz_success span {
    vertical-align: middle;
    display: inline-block;
    margin-top: -5px;
    margin-left: 30px;
    font-weight: bold;
}


.wizz_success {
    display:block;    
    vertical-align: middle;
    display: inline-block;
    background-image: url("images/wizz_success.png");
    background-position: bottom;
    background-repeat: no-repeat;
}


/* Page import des contacts */
ul.import_contacts_table_list {
    margin: 20px auto 20px auto;
    font-weight: bold;
    font-size: 14px;
    color: #222222;
}

img.form_buton {
    margin-top: 1px;
}

body.popup fieldset {
	margin: 20px 0 0 0;
}

form *{
	text-align: left;
}

input, textarea {
    width: auto;
}