/* Page structure */
html, body {
	width:100%;
	height:100%;
}

* { 
	margin:0; 
	padding:0; 
	/*color:#343434;*/
	text-decoration:none;
	vertical-align: top;
}

ul, li { 
	list-style:none; 
}

body { 
	background-color:#AEAEAE;
}

body.popup {
	background-color:#F1F1F1;
}

fieldset {
	border:none;
}

img {
	border:0;
}

div#wrap {	
	min-width:1010px;
	max-width:1500px;
	margin:auto;
	width:95%;
	min-height:100%;
	background-color:#F1F1F1;
}

div#inner_wrap {
	width:100%;
	min-height:100%;
}

div.general_header {
	height:80px;
	background-repeat:no-repeat;
	background-color:#072C3E;
	margin-bottom:20px;
}

div.general_header_mini {
    height:30px;
    background-color:#072C3E;
}




div#popup-header {
	height:100px;
	background-image:url("images/header_illustration.jpg");
	background-repeat:no-repeat;
	background-color:#072C3E;
	background-position:-150px bottom;
	margin-bottom:10px;
	padding-left:170px;
	padding-right:10px;
}

img.close_header_img {
    float:right;
    padding-right:5px;
    padding-top:5px;
    position:relative;
}

div.push {
	height:25px;
}

div#popup-footer {
	width:99%;
	height:25px;
	bottom:0px;
	margin:auto;
	position:relative;
	background-color:#F1F1F1;
	
}

div#footer {
	width:95%;
	height:25px;
	bottom:0px;
	min-width:1010px;
	max-width:1500px;
	
	margin:-25px auto 0 auto;
	position:relative;
	background-color:#F1F1F1;
	
}
hr {
	clear:both;
}

div#footer span.inner, div#popup-footer span.inner {
	display:block;
	width:100%;
	height:100%;
}

div#footer span#bug_report, div#popup-footer span#bug_report {
	display:block;
	padding-right:20px;
	font-weight:bold;
	float:right;
	height:100%;
}

div#footer span#copyright, div#popup-footer span#copyright {
	vertical-align:bottom;
	position:relative;
	top:10px;
	float:left;
}

fieldset.left {
	float:left;
	width:48%;
}
fieldset.right {
	float:right;
	width:48%;
}

/* Balises */
label
{
	display:block;
	float: left;
	width: 140px;
	padding:0 0 0 5px;;
	font-size:12px;
	color:#555555;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

input, select
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:1px solid #CCCCCC;
	color:#000000;
	font-weight:normal;
	font-size:10px;
	padding: 1px;
	text-align:left;
}

p
{
	text-align:left;
	vertical-align:middle;
	padding:10px;
	margin:2px;
}

hr {
	clear:both;
	width:1px;
	height:1px;
	background-color:#003366;
	border:0 solid #003366;
}

.p_focused label
{
	color:#0099CC;
	font-weight:bold;
}

span.error_message
{
	color:#993333;
	font-weight:bold;
	font-size:10px;
}


/* Help panel */
div.help_panel {
	width:454px;
	height:122px;
	float:right;
	padding:15px;
	color:#95DBEC;
	position:relative;
	right:20px;
	top:30px;
        display:none;
}

div.help_panel h1 {
	font-size:16px;
	display:block;
	width:100%;
	border-bottom:2px solid #95DBEC;
	color:#95DBEC;	
	padding-bottom:5px;
	text-transform:uppercase;
	font-weight:normal;
        display:none;
}

div.help_panel_mini h1 {
	color:#95DBEC;
        font-size:16px;
        padding:5px 0px 0px 10px;
	text-transform:uppercase;
	font-weight:normal;
}

div.help_panel h2 {
	font-size:12px;
	font-weight:normal;
	text-align:justify;
	padding-top:6px;	
	color:#95DBEC;
        display:none;
}

div.help_panel_mini h2 {
    display: none;
}

div#popup-header h3 {
	font-size:16px;
	display:block;
	width:100%;
	border-bottom:2px solid #95DBEC;
	color:#95DBEC;	
	padding-bottom:5px;
	text-transform:uppercase;
	font-weight:normal;
}

div#popup-header h4 {
	font-size:12px;
	font-weight:normal;
	text-align:justify;
	padding-top:6px;	
	color:#95DBEC;
}

/* Links */
div#footer a, div#footer a:hover, div#footer a:active, div#footer a:visited,
div#popup-footer a, div#popup-footer a:hover, div#popup-footer a:active, div#popup-footer a:visited {
	text-decoration:none;
	color:#4C4C4C;
	font-weight:normal;
	font-size:12px;
} 

div#footer span#bug_report a, div#footer span#bug_report a:hover, div#footer span#bug_report a:active, div#footer span#bug_report a:visited,
div#popup-footer span#bug_report a, div#popup-footer span#bug_report a:hover, div#popup-footer span#bug_report a:active, div#popup-footer span#bug_report a:visited
{
	font-weight:bold;
	font-size:12px;
	background-image:url("images/logo_redmine.png");
	background-repeat:no-repeat;
	padding-left:30px;
	padding-top:5px;
	display:block;
	height:20px;
} 

a.red-link {
	color:#ae2c2c;
}

h2 a {
	font-size:12px;
	font-weight:normal;
	text-align:justify;
	padding-top:6px;	
	color:#95DBEC;	
	text-decoration:underline;
}

/* Menu */
ul#main_menu {
	width:170px;
	float:left;
	padding-top:20px;
        margin-left:2px;
	left:0px;
	z-index:100;
}

ul#main_menu ul, ul#main_menu li {
	display:block;
}

ul#main_menu li {
    /*height:20px;*/
    padding-top:2px;
}

ul#main_menu a, ul#main_menu a:hover, ul#main_menu a:active, ul#main_menu a:visited {
	color:#323232;
	font-size:12px;
	text-decoration:none;
	width:100%;
	height:19px;
	padding-top:2px;

}

ul#main_menu ul li {
    height:16px;

}

ul#main_menu li.selected a, ul#main_menu li.selected a:link, ul#main_menu li.selected a:hover, ul#main_menu li.selected a:visited
{
	color: #AE2C2C;
}


ul#main_menu ul, ul#main_menu li {
	display:block;
	width:100%;
}

ul#main_menu li.niv-1 {
	padding-left:0px;
}

ul#main_menu li.niv-1 a, ul#main_menu li.niv-1 a:hover, ul#main_menu li.niv-1 a:active, ul#main_menu li.niv-1 a:visited {
	background-image:none;
}

ul#main_menu li.niv-1.selected {
	background-image:url("images/menu_selected.gif");
	background-repeat:no-repeat;
        background-position:0px -30px;
	color:#AE2C2C;
}


/* Main content */
div.main_content {
	margin-left:179px;
	margin-right:10px;
}

div.main_content_left {
	background-color:#FFFFFF;
	background-image:url("images/main_content_left.png");
	background-position:left;
	background-repeat:repeat-y;
	width:auto;
}

div.main_content_right {
	background-image:url("images/main_content_right.png");
	background-position:bottom right;
	background-repeat:repeat-y;
	width:auto;
}

div.main_content_right div.main-content-top-actions {
	background-image:url("images/main_content_TL.png");
	background-repeat:no-repeat;
	width:auto;
	min-height:100px;
	padding-left:20px;
}

div.main_content_right div.main-content-top-actions span.inner {
	display:block;
	width:100%;
	min-height:100px;
	background-image:url("images/main_content_TR.png");
	background-repeat:no-repeat;
	background-position:top right;
	padding-top:30px;
}

div.main_content_right div.main-content-footer {
	background-image:url("images/main_content_BL.png");
	background-repeat:no-repeat;
	background-position:bottom left;
	width:100%;
	bottom:0px;
}

div.main_content_right div.main-content-footer span.inner {
	background-image:url("images/main_content_BR.png");
	background-position:bottom right;
	background-repeat:no-repeat;
	display:block;
	width:auto;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:40px;
	min-height:400px;
}




/* Login form specifications */
form.login_form {
	width:366px;
	margin:200px auto auto auto;
}

.login_page div.main_content {
	margin:auto;
}


form.login_form fieldset {
	border:0;
	background-color:#FFFFFF;
}

form.login_form label {
	width:200px;
}

form.login_form fieldset.actions {
	background-color:#CDCDCD;
	width:346px;
	height:38px;
	padding:10px;
}

body.login_page div#wrap div#inner_wrap div.main_content,
body.login_page div#wrap div#inner_wrap div.main_content_left,
body.login_page div#wrap div#inner_wrap div.main_content_right
{
	background-color:transparent;
	background-image:none;
}


form.login_form fieldset.actions div.inner div,
form.login_form fieldset.actions div.inner div a,
form.login_form fieldset.actions div.inner div a:hover,
form.login_form fieldset.actions div.inner div a:visited
{
	color:#333333;
	font-weight:bold;
	font-size:10px;
	vertical-align:middle;
	text-decoration:none;
	height:25px;
}

.no-border, .img {
	border:0;
}

/* Others forms */
form.popup_form .img {
	margin-left:10px; 
}


/* actions */
ul.search-form {
	float:right;
	margin-right:180px;
	text-align:left;
}

ul.action_menu {
	float:left;
	margin-left:20px;
	width:285px;
	background-image:url("images/actions-top.png");
	background-repeat:no-repeat;
	background-position:top;
	padding-top:10px;
}

ul.action_menu li {
	width:auto;
	padding-left:10px;
	padding-right:10px;
}
ul.action_menu li.last-row {
	width:auto;
	height:20px;
	background-image:url("images/actions-bottom.png");
	background-position:bottom;
	padding-bottom:7px;
}
ul.action_menu li a, ul.action_menu li a:active, ul.action_menu li a:visited {
	color:#333333;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	background-image:url("images/black_arrow.gif");
	background-position:center left;
	padding-left:15px;
	background-repeat:no-repeat;
} 

ul.action_menu li.pdf-list a, ul.action_menu li.pdf-list a:hover {
	background-image:url("images/application-pdf.png");
	background-repeat:no-repeat;
} 

ul.action_menu li.mail-list a, ul.action_menu li.mail-list a:hover {
	background-image:url("images/application-mail.png");
	background-repeat:no-repeat;
} 

 ul.action_menu li a:hover {
 	color:#0099cc;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	background-image:url("images/black_arrow.gif");
	background-position:center left;
	padding-left:15px;
	background-repeat:no-repeat;
 }




ul.search-form li {
	text-align:left;
	vertical-align:top;
	padding:0 0 5px 0;
	margin:0;
}




ul.search-form form label {
	width:180px;
	padding-top:2px;
}

ul.search-form input.search-field {
	border:none;
	width:119px;
	height:20px;
	background-image:url("images/search.png");
	background-repeat:no-repeat;
	padding:3px 20px 0 20px;
	font-size:10px;
	color:#777777;
	font-weight:bold;
	vertical-align:middle;
}


/* Tables styles */

td.amounts, table.normal_table tr td.amounts {
    text-align: right;
}

table.normal_table {
	background-color:#D2D2D2;
	border-collapse:collapse;
	width:100%;
}

table.normal_table th {
	background-color:#8695BE;
	background-image:url("images/th_separate.gif");
	background-position:right 2px;
	background-repeat:no-repeat;
	height:21px;
	color:#C6CBDF;
	font-size:12px;	
	border:0px solid transparent;
	text-align:left;
	padding:0 0 0 5px;
	margin:0;
}

table.normal_table tr td {
	border:1px solid #D2D2D2;
	font-size:11px;
	color:#666666;
	font-weight:bold;
	padding:1px;
	text-align: left;
}

table.normal_table tr.ligne1 {
	background-color:#F2F2F2;
}

table.normal_table tr.ligne2 {
	background-color:#FDFDFD;
}

table.normal_table tr:hover {
	background-color:#99CCCC;
}

/* Cadres */
.upperleft{
	margin: 0 auto 20px auto;

	background-color : #F9F9F9;
	background-image : url('images/rect_hg.gif');
	background-repeat : no-repeat;
	background-position : top left;
}

.upperright{
	background-image : url('images/rect_hd.gif');
	background-repeat : no-repeat;
	background-position : top right;
}

.lowerleft{
	background-image : url('images/rect_bg.gif');
	background-repeat : no-repeat;
	background-position : bottom left;
}

.lowerright{
	background-image : url('images/rect_bd.gif');
	background-repeat : no-repeat;
	background-position : bottom right;
	padding : 2px 0px 5px 0px;
	text-align:center;
}

/* Popup forms */
body.popup fieldset
{
	border:none;
	text-align:center;
	margin:10px 10px 20px 10px;
}

body.popup fieldset.view p
{
	padding:0px;
	margin:0px;
}

body.popup fieldset.view label
{
	display:block;
	float: left;
	width: 200px;
	padding:0 0 0 5px;;
	font-size:10px;
	color:#555555;
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

h5
{
	text-align:center;
	background-color:#CCCCCC;
	margin:0px 2px 0px 2px;
	padding:0px 0px 0px 4px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-style:italic;
	display:block;
	width:auto;
	height:15px;
}

/**
 * Thats the basic css needed for the upload bars
 */
#demo-status .progress
{
	background:				white url(images/assets/progress-bar/progress.gif) no-repeat;
	background-position:	+50% 0;
	margin-right:			0.5em;
}

#demo-status .progress-text
{
	font-size:				0.9em;
	font-weight:			bold;
}

#demo-list
{
	list-style:				none;
	width:					450px;
	margin:					20px auto 10px auto;
	padding:0;
	border-top:1px solid black;
}

#demo-list li.file
{
	border-bottom:			1px solid #eee;
	background:				url(images/assets/file.png) no-repeat 4px 4px;
}
#demo-list li.file.file-uploading
{
	background-image:		url(images/assets/uploading.png);
	background-color:		#D9DDE9;
}
#demo-list li.file.file-success
{
	background-image:		url(images/assets/success.png);
}
#demo-list li.file.file-failed
{
	background-image:		url(images/assets/failed.png);
}

#demo-list li.file .file-name
{
	font-size:				1.2em;
	margin-left:			44px;
	display:				block;
	clear:					left;
	line-height:			40px;
	height:					40px;
	font-weight:			bold;
}
#demo-list li.file .file-size
{
	font-size:				0.9em;
	line-height:			18px;
	float:					right;
	margin-top:				2px;
	margin-right:			6px;
}
#demo-list li.file .file-info
{
	display:				block;
	margin-left:			44px;
	font-size:				0.9em;
	line-height:			20px;
}
#demo-list li.file .file-remove
{
	clear:					right;
	float:					right;
	line-height:			18px;
	margin-right:			6px;
}


 
input.autocompleter-loading, input.loading
{
	background-image:		url(images/spinner_wait.gif);
	background-repeat:		no-repeat;
	background-position:	right 50%;
}

#scanner {
	visibility:hidden;
	position: absolute;
}

div.scanning {
	text-align:center;
}



#wainting_please {
	display:none;
}


/* Template pour les applets de la page principale */
div.applet {
	display:block;
	width:100%;
        margin-bottom:20px;
}


div.applet span.applet_title_middle {
	display: inline;
	width: 100%;
	text-align:center;
	line-height:100%;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	
}


div.applet span.applet_title_middle img {
	/* l'image occupe toute la place de son bloc conteneur */
	width : 100%;
	height:27px;
}

div.applet span.applet_footer_middle img {
	/* l'image occupe toute la place de son bloc conteneur */
	width : 100%;
	height:19px;
}

div.applet span.applet_title_middle p {
	/* l'image occupe toute la place de son bloc conteneur */
	width : 100%;
	text-align:center;
	line-height:100%;
	color:#ffffff;
	font-size:12px;
	font-weight:bold;
	position: relative;
	margin-top: -30px;
}

table.applet_table {
	background-color:red;
	border-collapse:collapse;
	width:100%;
	margin-left:2px;
}

div.applet span.applet_footer_middle {
	display:block;
	width:100%;
/*
	height:27px;
	background-image: url(images/applet_bottom.png);
	background-repeat:no-repeat;
	background-position:top left;
*/
	text-align:center;
	line-height:100%;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
}

table.applet_iabsis_news, table.applet_table {
	background-color:#f7f7f7;
	border-collapse:collapse;
	width:100%;
	
}

table.applet_iabsis_news div.iabsis_news_title {
	font-weight:bold;
	color:#333333;
	margin:5px 2px 0px 4px;
}


table.applet_iabsis_news div.iabsis_news_description {
	margin:0 5px 5px 20px;
	color:#333333;
	text-align:justify;
}

table.applet_iabsis_news tr.ligne2, table.applet_iabsis_news tr.ligne1,  table.applet_table tr.ligne2, table.applet_table tr.ligne1 {
	border-top-style:dashed;
	border-top-width: 1px;
	border-top-color:#8e8e8e;
}

div#warning_message {
	display: none;
	position: absolute;
	width: 100%;
	background-color: #ffffe0;
	font-weight: bold;
	text-align: center;
	padding : 5px;

}

div#warning_message a, div#warning_message a:hover, div#warning_message a:visited, div#warning_message a:link, div#warning_message a:active {
	color:blue;
	text-decoration: underline;

}

span.module_help_message {
    display:none;
    position:absolute;
    border:1px solid black;
    background-color: teal;
    color: white;
    width:200px;
}

span.module_right_block {
    display: block;
    padding-bottom: 5px;
}

span.module_right_name {
    font-weight: bold;
    color: white;
}

span.module_right_description {
    color: white;
}

span.negative_amount {
    color: red;
}

span.positive_amount {
    color: green;
}

span.null_amount {
    color: blue;
}

#dhtmlgoodies_tooltip{
    background-color:#EEE;
    border:1px solid #000;
    position:absolute;
    display:none;
    z-index:20000;
    padding:2px;
    font-size:0.9em;
    -moz-border-radius:6px;	/* Rounded edges in Firefox */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", Arial, sans-serif;

}
#dhtmlgoodies_tooltipShadow{
    position:absolute;
    background-color:#555;
    display:none;
    z-index:10000;
    opacity:0.7;
    filter:alpha(opacity=70);
    -khtml-opacity: 0.7;
    -moz-opacity: 0.7;
    -moz-border-radius:6px;	/* Rounded edges in Firefox */
}

span.p_content {
    display:block;
    padding-left: 145px;
}


/*** Gestion des wizz ***/
div#wizz_content {
    display: none;
    position:fixed;
    top:0px;
    left:80px;
    width:370px;
    padding:10px;
}

.wizz_error {
    display:block;
    
    vertical-align: middle;
    display: inline-block;
    background-image: url("images/wizz_error.png");
    background-position: bottom;
    background-repeat: no-repeat;
}

.wizz_error img, .wizz_success img {
   vertical-align: middle;
   display: inline-block;
}

.wizz_error span, .wizz_success span {
   vertical-align: middle;
   display: inline-block;
   margin-top: -5px;
   margin-left: 30px;
   font-weight: bold;
}


.wizz_success {
    display:block;    
    vertical-align: middle;
    display: inline-block;
    background-image: url("images/wizz_success.png");
    background-position: bottom;
    background-repeat: no-repeat;
}


/* Page import des contacts */
ul.import_contacts_table_list {
    margin: 20px auto 20px auto;
    font-weight: bold;
    font-size: 14px;
    color: #222222;
}

img.form_buton {
    margin-top: 1px;
}